.fadeFromRight {
  animation: fromright 0.4s ease-in-out 1 both;
  -webkit-animation: fromright 0.4s ease-in-out 1 BOTH;
}

@keyframes fromright {
  from {
    opacity: 0;
    scale: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
