.fadeFromRight {
  animation: fromright 0.5s ease-in-out 1 backwards;
  -webkit-animation: fromright 0.5s ease-in-out 1 backwards;
}

@keyframes fromright {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
