/* components/styles/companyInfo.module.css */
.companyInfo {
  background-color: #000000;
  padding: 2rem;
  border-radius: 1rem;
  color: white;
  max-width: auto;
  z-index: 50;
}

.companyInfo h2 {
  font-size: 2rem;
  font-family: monospace;
  /* margin-bottom: 1rem; */
}

.companyInfo p {
  margin-bottom: 0.5rem;
}

.socialLinks {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.socialLinks a {
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.socialLinks a:hover {
  color: #4fd1c5; /* Use your accent color here */
}
